html {
    /* background: #000 url(http://unsplash.it/2291/3450?image=537); */
    /*background: #000 url(http://unsplash.it/2291?image=1031);*/
     background: #000 url(http://unsplash.it/2291/3450?image=1048); 
    /* background: #000 url(http://unsplash.it/2291/3450?image=723); */
    /* background: #000 url(http://unsplash.it/2291/3450?image=972); */
    background-size: cover;
    text-align: center;
  }

.white {
  background-color: #FFF;
}

.nav{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
  font-weight: bold;
}
.nav a{
  display:inline-block;
  padding:10px;
}

a {
  color:#000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: silver;
}

form {
text-align: left;
}

.center {
text-align: center;
margin: 0 auto;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  border: 2px solid #000;
  background-color: #FFF;
  padding: 0% 5% 0%;
  text-align: center;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}